.AboutMe{
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    min-height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    /* padding-bottom: 500px; */
    color: white;
    padding: 60px 0;
}

.AboutMe *{
    /* border: 1px solid red; */
}

.fundoEffect{
    position: absolute;
    height: 150dvh;
    width: 150dvh;
    top: -75dvh;
    transform: scale(120%);
    background-image: radial-gradient(circle at 50% 50%,rgba(255, 255, 255, 0.1), rgba(255,255,255,0) 50%);
    pointer-events: none;
}

.AboutMe h1{
    position: relative;
}

.AboutMe h1::after{
    content: '';
    position: absolute;
    width: 150%;
    height: 1px;
    left: -25%;
    top: 100%;
    background: radial-gradient(circle, white, rgba(255,255,255,0));
}

.AboutMe h3{
    text-align: center;
    padding-top: 20px;
}

.AboutMe .nome h4{
    text-transform: uppercase;
    color: rgba(0,0,0,1);
    text-shadow: 0 0 2px white;
    font-size: clamp(.4rem,8vw,6rem);
    text-align: start;
    position: relative;
    display: inline;
    z-index: 0;
    line-height: 1.2;
    user-select: none;
    opacity: 0;
    transition: text-shadow 1s ease, color .5s ease;
    animation: animarNomes 1s ease;
    animation-delay: var(--animationDelay);
    animation-fill-mode: forwards;
}

@keyframes animarNomes {
    from {
        transform: translateY(-30%);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

.AboutMe .nome h4:hover{
    color: white;
    text-shadow: 0 0 10px white;
}

.AboutMe .nome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding: 60px 20px;
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    
}

.AboutMe p,h3{
    width: 70%;
    z-index: 1;
}

@keyframes h1anim {
    from{
        opacity: 0;
        filter: blur(10px);
    }
    to{
        opacity: 1;
        filter: blur(0px);
    }
}

span.colorHTML {color: red;}
span.colorCSS {color: blue;}
span.colorJS {color: yellow;}
span.colorPYTHON {color: cadetblue;}

.competenciasIcon{
    display: flex;
    justify-content: center; /* Centraliza tudo horizontalmente */
    flex-wrap: wrap;         /* Permite quebrar para a linha de baixo */
    gap: 12px;
    max-width: 350px;
}

.GithubIcone{
    z-index: 2;
}

.trabEstruturaLink{
    position: relative;
    display: flex;
    gap: 5px;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: all .5s ease;
    backdrop-filter: blur(5px);
    font-weight: bold;
}

.trabEstruturaLink:hover{
    scale: 1.01;
    box-shadow: 0 0 3px white;
    background: rgba(150,150,150,.12);
}

@media screen and (width<1024px) {
    .AboutMe{
        padding: 60px 0;
    }

    .AboutMe .nome{
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .AboutMe .nome h4{
        line-height: .2;
    }
}