html{
    scroll-snap-type: y proximity;
}

.AboutMe{
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    min-height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    /* padding-bottom: 500px; */
    color: white;
    padding: 60px 0;
}

/* .AboutMe *{ border: 1px solid red; } */

.fundoEffect{
    position: absolute;
    height: 150dvh;
    width: 150dvh;
    top: -90dvh;
    transform: scale(120%);
    background-image: radial-gradient(circle at 50% 50%,rgba(255, 255, 255, 0.7), rgba(255,255,255,0) 50%);
    filter: blur(50px);
    pointer-events: none;
    animation: fundoEffectAnimar 1s ease;
    z-index: 0;
    overflow-x: hidden;
    animation-fill-mode: forwards;
}

@keyframes fundoEffectAnimar {
    from { opacity: 0;} 
    to {  opacity: .8;}
}

.AboutMe h1{
    position: relative;
    opacity: 0;
    animation: fundoEffectAnimar 1s ease 2s forwards;
}

.AboutMe h1::after{
    content: '';
    position: absolute;
    width: 150%;
    height: 1px;
    left: -25%;
    top: 100%;
    background: radial-gradient(circle, white, rgba(255,255,255,0));
}

.AboutMe h3{
    text-align: center;
    padding-top: 20px;
}

.AboutMe .nome h4{
    text-transform: uppercase;
    color: rgba(0,0,0,1);
    text-shadow: 0 0 2px white;
    font-size: clamp(.4rem,8vw,6rem);
    text-align: start;
    position: relative;
    display: inline;
    z-index: 0;
    line-height: 1.2;
    user-select: none;
    opacity: 0;
    transition: text-shadow 1s ease, color .5s ease;
    animation: 
    animarNomes 1s ease forwards,
    animarStillInfinito 7s linear calc(var(--animationDelay) + 0.8s) infinite;
    animation-fill-mode: forwards;
}

@keyframes animarStillInfinito {
    0%{color: black;}
    5%{color: white; text-shadow: 0 0 10px white;}
    15%{color: black; text-shadow: 0 0 2px white;}
}

@keyframes animarNomes {
    from {
        transform: translateY(-30%);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
        color: rgba(0,0,0,1);
    }
}

.AboutMe .nome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding: 60px 20px;
    height: 78dvh;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    scroll-snap-align:end;
}

.AboutMe p,h3{
    width: 70%;
    z-index: 1;
}

@keyframes h1anim {
    from{
        opacity: 0;
        filter: blur(10px);
    }
    to{
        opacity: 1;
        filter: blur(0px);
    }
}

span.colorHTML {color: red;}
span.colorCSS {color: blue;}
span.colorJS {color: yellow;}
span.colorPYTHON {color: cadetblue;}

.competenciasIcon{
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;         
    gap: 12px;
}

.SkillCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 25px rgba(255,255,255,.1);
    border-radius: 10px;
    padding: 5px 20px;
    transition: opacity .5s ease, transform .2s ease;
}

.SkillCard:hover{
    transform: scale(1.05);
}

.competenciasIcon:hover .SkillCard:not(:hover){
    opacity: .1;
    box-shadow: 0 0 0;
}

.SkillCard h2{
    line-height: 1;
}

.SkillCard .skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.GithubIcone{
    z-index: 2;
}

.trabEstruturaLink{
    position: relative;
    display: flex;
    gap: 5px;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: all .5s ease;
    backdrop-filter: blur(5px);
    font-weight: bold;
}

.trabEstruturaLink:hover{
    scale: 1.01;
    box-shadow: 0 0 3px white;
    background: rgba(150,150,150,.12);
}

@media screen and (width<1024px) {
    .AboutMe{
        padding: 60px 0;
        overflow-x: hidden;
    }

    .AboutMe .nome{
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        gap: 3%;
    }

    .AboutMe .nome h4{
        font-size: 1.6rem;
    }

    .fundoEffect{
        width: 400px;
        opacity: .3;
    }

    @keyframes fundoEffectAnimar {
    from { opacity: 0;} 
    to {  opacity: .3;}
}
}

::-webkit-scrollbar{
    background-color: rgba(0,0,0,1);
}

::-webkit-scrollbar-thumb{
    background-color: rgba(255,255,255,.1);
    border-radius: 10px;
}