.AboutMe{
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    height: calc(auto + 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    padding: 40px 0;
    color: white;
}

.AboutMe *{
    animation-timeline: view();
    animation-name: h1anim;
    animation-range: entry 10% cover 30%;
}

@keyframes h1anim {
    from{
        transform: translateX(50%);
        filter: blur(10px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        filter: blur(0);
        opacity: 1;
    }
}

span.colorHTML {color: red;}
span.colorCSS {color: blue;}
span.colorJS {color: yellow;}
span.colorPYTHON {color: cadetblue;}

.AboutMe p{
    width: 70%;
}

.competenciasIcon{
    display: flex;
    justify-content: center; /* Centraliza tudo horizontalmente */
    flex-wrap: wrap;         /* Permite quebrar para a linha de baixo */
    gap: 12px;
    max-width: 350px;
}

.trabEstruturaLink{
    position: relative;
    display: flex;
    gap: 5px;
    text-decoration: none;
    color: rgb(11, 148, 136);
    border: #0b94886b 3px solid;
    padding: 10px;
    border-radius: 50px;
    transition: all .5s ease;
}

.trabEstruturaLink:hover{
    scale: 1.05;
    border-color: #0b9488;
    text-shadow: #0b9488 0 0 5px;
}