.AboutMe{
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    height: calc(auto + 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    padding: 0px 0;
    color: white;
}

.AboutMe *{
    /* border: 1px solid red; */
}

.AboutMe h1{
    position: relative;
}

.AboutMe h1::after{
    content: '';
    position: absolute;
    width: 150%;
    height: 1px;
    left: -25%;
    top: 100%;
    background: radial-gradient(circle, white, rgba(255,255,255,0));
}

.AboutMe h3{
    text-align: center;
    padding-top: 20px;
}

.AboutMe .nome{
    text-transform: uppercase;
    color: rgba(0,0,0,1);
    text-shadow: 0 0 2px white;
    font-size: clamp(.5rem,10vw,8rem);
    text-align: start;
    position: relative;
    display: inline;
    z-index: 0;
    width: 70%;
    line-height: 1.2;
    top: -50px;
}

.AboutMe p,h3{
    width: 70%;
    z-index: 1;
}

/* .AboutMe *{
    animation-timeline: view();
    animation-name: h1anim;
    animation-range: entry 10% cover 30%;
} */

@keyframes h1anim {
    from{
        transform: translateX(50%);
        filter: blur(10px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        filter: blur(0);
        opacity: 1;
    }
}

span.colorHTML {color: red;}
span.colorCSS {color: blue;}
span.colorJS {color: yellow;}
span.colorPYTHON {color: cadetblue;}

.competenciasIcon{
    display: flex;
    justify-content: center; /* Centraliza tudo horizontalmente */
    flex-wrap: wrap;         /* Permite quebrar para a linha de baixo */
    gap: 12px;
    max-width: 350px;
}

.GithubIcone{
    z-index: 2;
}

.trabEstruturaLink{
    position: relative;
    display: flex;
    gap: 5px;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: all .5s ease;
    backdrop-filter: blur(5px);
    font-weight: bold;
}

.trabEstruturaLink:hover{
    scale: 1.01;
    box-shadow: 0 0 3px white;
    background: rgba(150,150,150,.12);
}

@media screen and (width<1000px) {
    .AboutMe{
        padding: 60px 0;
    }
}