.Home{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 250px ), repeating-linear-gradient( #040404, #040404 );
    background-size: 100% 100%;
    transition: all 1s;
    padding: 0px 0;
    overflow: hidden;
}

.Home *{
    /* border: 1px solid red; */
}

.home-titulo, 
.Home h2{
    font-family: Special Gothic Expanded One;
    font-weight: 800;
    font-style: bold;
}

.home-titulo{
    position: relative;
    width: auto;
    font-size: clamp(.5rem,10vw,8rem);
    text-transform: uppercase;
    text-shadow: 0 0 30px gray;
    color: rgb(255, 255, 255);
    transition: color .5s, text-shadow .5s;
    animation: tituloInicio 1s ease-in-out;
    user-select: none;
}

@keyframes tituloInicio{
    from{
        text-shadow: 0 0 10px rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
    to{
        text-shadow: 0 0 30px gray;
        color: rgb(255, 255, 255);
    }
}

.CardsDiv{
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding: 50px 10px;
    transition: all .5s ease;
}

.HomeCards{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    border-radius: 10px;
    padding: 10px;
    transition: all .5s ease;
    /* background-color: rgb(0, 0, 0); */
    animation-timeline: view();
    animation-name:aparecerInicio;
    animation-range: entry 10% cover 30%;

    transition: all .5s ease;
}

.homeCardBorder{
    width: 100%;
    height: 2px;
    background: radial-gradient(circle, white, black);
    transition: all .5s ease;
}

.HomeCards:hover{
    transform: scale(102%);
    cursor: pointer;
    align-items: start;

}

.HomeCards .Titulo{
    font-family: Special Gothic Expanded One;
    font-weight: 100;
}

@keyframes aparecerInicio {
    from{opacity: 0;}
    to{opacity: 1;}
}

@media screen and (width<1000px) {
    .Home{
        flex-direction: column;
        height: auto;
        overflow: auto;
    }
}