.Home{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 250px ), repeating-linear-gradient( #040404, #040404 );
    background-size: 100% 100%;
    transition: all 1s;
}

.Home *{
    /* border: 1px solid red; */
}

.home-titulo, 
.Home h2{
    font-family: Special Gothic Expanded One;
    font-weight: 800;
    font-style: bold;
}

.home-titulo{
    position: relative;
    width: auto;
    font-size: clamp(.5rem,10vw,8rem);
    text-transform: uppercase;
    text-shadow: 0 0 30px gray;
    color: rgb(255, 255, 255);
    transition: color .5s, text-shadow .5s;
    animation: tituloInicio 1s ease-in-out;
    user-select: none;
}

@keyframes tituloInicio{
    from{
        text-shadow: 0 0 10px rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
    to{
        text-shadow: 0 0 30px gray;
        color: rgb(255, 255, 255);
    }
}

.CardsDiv{
    position: relative;
    display: grid;
    box-sizing: border-box;
    justify-content: center;
    grid-template-rows: repeat(auto-fit,150px);
    gap: 50px;
    padding: 50px 10px;
}

.HomeCards{
    border-radius: 10px;
    padding: 10px;
    transition: all .5s;
    /* background-color: rgb(0, 0, 0); */
    animation-timeline: view();
    animation:aparecerInicio 1s ease-in-out forwards;
}

.HomeCards:hover{
    transform: scale(102%);
    cursor: pointer;
}

.HomeCards .Titulo{
    font-family: Special Gothic Expanded One;
    font-weight: 100;
}

@keyframes aparecerInicio {
    from{opacity: 0;}
    to{opacity: 1;}
}