.Home{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #040404;
    opacity: 1;
    background-image: repeating-radial-gradient( circle at 0 0, rgba(255,255,255,0) 0, #000000 250px );
    background-size: 100% 100%;
    transition: all 1s;
    overflow: hidden;
}

.bgEffect{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* border: 1px solid red; */
    pointer-events: none;
}

.bgEffect span{
    top: -50%;
    position: absolute;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    animation: animarBgEffect var(--velocity) infinite linear;
    animation-delay: var(--delay);
    left: var(--posX);

    background-color: rgba(100, 100, 100, .05);
    backdrop-filter: blur(var(--backdropBlur));
    border: 1px solid rgba(0, 0, 0, 0.52);
    z-index: var(--zindex);
    filter: blur(5px);
    overflow: hidden;
    pointer-events: none;
    opacity: 1;
}

@keyframes animarBgEffect {
    from{
        top: 105%;
    }
    to{
        top: -50%;
    }
}

.LogoMHome{
  position: absolute;
  height: 50px;
  object-fit: cover;
  opacity: .5;
  left: 0;
  top: 0;
}

.Home *{
    /* border: 1px solid red; */
}

.home-titulo, 
.Home h2{
    font-family: Special Gothic Expanded One;
    font-weight: 800;
    font-style: bold;
}

.home-titulo{
    position: relative;
    width: auto;
    font-size: clamp(.5rem,10vw,8rem);
    text-transform: uppercase;
    text-shadow: 0 0 30px gray;
    color: rgb(255, 255, 255);
    transition: color .5s, text-shadow .5s;
    animation: tituloInicio 3s ease;
    user-select: none;
}

@keyframes tituloInicio{
    from{
        text-shadow: 0 0 10px rgb(255, 255, 255);
        transform: translate(-10%) translateX(-200%) rotateZ(20deg) scale(300%);
        filter: blur(10px);
        color: rgb(0, 0, 0);
        opacity: 0;
    }
    to{
        text-shadow: 0 0 30px gray;
        transform: translate(0) translateX(0) rotateZ(0deg) scale(100%);
        filter: blur(0);
        color: rgb(255, 255, 255);
        opacity: 1;
    }
}

.CardsDiv{
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding: 50px 10px;
    transition: all .5s ease;
}

.HomeCards{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    border-radius: 10px;
    padding: 10px;
    transition: all .5s ease;
    /* background-color: rgb(0, 0, 0); */
    animation:aparecerInicioCards 3s ease;

    transition: all .5s ease;
}

@keyframes aparecerInicioCards {
    from{
        transform: translateX(300%) rotateZ(25deg);
    } to{
        transform: translateX(0) rotateZ(0);
    }
}

.HomeCards div{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.homeCardBorder{
    width: 100%;
    height: 2px;
    background: radial-gradient(circle, white, rgba(255,255,255,0));
    transition: all .5s ease;
}

.HomeCards:hover{
    transform: scale(102%);
    cursor: pointer;
    box-shadow: inset 0 0 2px white;
    backdrop-filter: blur(5px);
    background-color: rgba(100, 100, 100, .1);

}

.HomeCards .Titulo{
    font-family: Special Gothic Expanded One;
    font-weight: 100;
}

@media screen and (width<1000px) {
    .Home{
        display: flex;
        flex-direction: column;
        height: auto;
        min-height: 100dvh;
        overflow-y: auto;
        background-color: #121212;
    }

    .CardsDiv{
        gap: 20px;
        width: 80vw;
    }

    .HomeCards{
        background-color: black;
        border: 1px solid white;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .HomeCards div{
        justify-content: center;
        width: 100%;
    }

    .LogoMHome{
        display: none;
    }

    .bgEffect{
        height: calc(100% + 5%);
    }

    .bgEffect span{
        opacity: .3;
        background: rgba(150,150,150,.5);

    }
}