nav{
    position: absolute;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    padding: 0 70px;
    background-color: transparent;
}

.LogoM{
    height: 50px;
    cursor: pointer;
}

.navLinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    font-size: 1.2rem;
}

.navLinks a{
    text-decoration: none;
    color: white;
}