nav{
    position: absolute;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    padding: 0 70px;
    background-color: rgba(0,0,0,0);
    z-index: 999;
    animation: animarNav var(--tempoAnimarVar) ease;
}

@keyframes animarNav {
    from{ transform: translateY(-200px);} 
    to { transform: translateY(0); }
}

.LogoM{
    height: 50px;
    cursor: pointer;
}

.navLinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    font-size: 1.2rem;
}

.navLinks a{
    text-decoration: none;
    color: white;
    transition: all .5s ease;
}

.navLinks a:hover{
    text-shadow: 0 0 5px white;
    transform: scale(102%);
}

@media (width<1024px) {

    nav{
        padding: 0 20px;
        background: linear-gradient(to bottom, black 0%,rgba(0,0,0,0) 100%);
    }

    .navLinks{
        font-size: 1rem;
    }

    /* * { border:1px solid red;} */
}