.Projects{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    min-height: 100dvh;

    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 70px 50px 50px;
}

.Projects *{
    /* border: 1px solid red; */
}

.mainTitulo{
    font-family: Special Gothic Expanded One;
    color: black;
    text-shadow: 0 0 2px white;
    text-transform: uppercase;
}

.ProjectCardsDiv{
    position: relative;
    height: auto;
    width: 100%;

    display: flex;
    flex-direction:column;
    gap: 30px;
    box-sizing: border-box;
}

.ProjectCards{
    position: relative;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255,.01);
    backdrop-filter: blur(5px);
    border-radius: 10px;

    transition: all ease .5s;

    padding: 5px 20px;
    
    height: 220px;

    opacity: 0;
    animation: aparecerCards 1.5s ease forwards;
    animation-delay: var(--tempoAparecer);
}

.ProjectCards:hover{
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255,.05);
}

.ProjectCards:hover::after,
.ProjectCards:hover:before{
    opacity: 1;
}

.ProjectCards .titulo{
    font-size: clamp(1rem,5vw,2rem);
    font-weight: 600;
    color: white;
}

.ProjectCards::after{
    content: "";
    position: absolute;
    top: 100%;
    width: 50%;
    height: 2px;
    opacity: 0;
    background: radial-gradient(circle,rgba(255, 255, 255, 1),rgba(255,255,255,0));
    transition: all .5s ease;
}

.ProjectCards::before{
    content: "";
    position: absolute;
    top: 0;
    left: calc(100% - 10px);
    width: 10px;
    height: 100%;
    opacity: 0;
    background: radial-gradient(circle,rgba(255, 255, 255, .5) 0%,rgba(255,255,255,0) 100% );
    transition: all .5s ease;
    border-radius: 100% 0 0 100%;
}

@keyframes aparecerCards {
    from {
        transform: translateX(200px);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}