.Projects{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    min-height: 100dvh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 70px 50px 0px;
}

.Projects *{
    /* border: 1px solid red; */
}

.Projects .titulo{
    font-family: Special Gothic Expanded One;
}

.ProjectCardsDiv{
    position: relative;
    height: auto;
    width: 100%;

    display: flex;
    flex-direction:column;
    gap: 30px;
    box-sizing: border-box;
}

.ProjectCards{
    position: relative;
    box-shadow: 0 0 2px white;
    background-color: rgba(255, 255, 255,.05);
    backdrop-filter: blur(5px);
    border-radius: 10px;

    padding: 5px 20px;
    
    height: 220px;
}

.ProjectCards .titulo{
    text-transform: uppercase;
    font-size: clamp(1rem,5vw,2rem);
    font-weight: 500;
}

.ProjectCards::after{
    content: "";
    position: absolute;
    top: 100%;
    width: 50%;
    height: 2px;
    background: radial-gradient(circle,white,rgba(255,255,255,0));
}